{% extends 'layout.html' %}

{% block title %}
Problem Details
{% endblock %}

<style>
    #code-editor {
        color: #dcdcdc;
        border: none;
        padding: 10px;
        box-sizing: border-box;
        resize: none;
        font-family: 'Consolas', 'Monaco', 'Courier New', monospace; /* Monospaced font for code */
        font-size: 16px;
        line-height: 1.5;
        outline: none;
        border-radius: 8px;
        overflow: auto;
    }

    .keyword {
        color: #569cd6;
    }

    #code-editor::placeholder {
        color: #555;
    }

</style>

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-9">
                    <h1>{{ problem.name }}</h1>
                </div>
                <div class="col-md-3 mt-3 float-end">
                    <button class="btn btn-info" onclick="toggleSolution()">View Solution</button>
                </div>
            </div>
            <p><strong>Category:</strong> {{ problem.category }}</p>
            <p><strong>Difficulty:</strong> {{ problem.difficulty }}</p>
            <div class="problem-statement">
                <h2>Problem Statement</h2>
                <p>{{ problem.description }}</p>
                <div id="solutionCard" class="card mt-2" style="display:none;">
                    <div class="card-body">
                        <h5 class="card-title">Example Solution</h5>
                        <pre><code>{{ solutions.example_code | safe }}</code></pre>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Submit Your Solution</h2>
            <form action="{{ url_for('problems.submit_solution_route') }}" method="POST">
                <input type="hidden" name="problem_id" value="{{ problem.id }}">
                <textarea id="code-editor" name="submission_code" placeholder="Write your code here..." rows="10" cols="70" required></textarea><br>
                <button type="submit" class="btn btn-primary">Submit Solution</button>
            </form>
        </div>

        <div id="loading" style="display: none;">Loading...</div>
        {% if result %}
        <div class="alert alert-success mt-4">
            <strong>Score:</strong> {{ result.score }}<br>
            <strong>Comments:</strong> {{ result.comments }}
        </div>
        {% endif %}
    </div>
</div>

<script>
    function toggleSolution() {
        const solutionCard = document.getElementById('solutionCard');
        if (solutionCard.style.display === "none") {
            solutionCard.style.display = "block";
        } else {
            solutionCard.style.display = "none";
        }
    }
</script>

<script>
    function showLoading() {
        document.getElementById('loading').style.display = 'block';
    }
</script>

{% endblock %}
